---
layout: default
title: A .plan file for the extended LFE community
tagline: What's going on
theme:
  name: lfe
---
{% include JB/setup %}
    <div class="wrapper feature">
      <img src="{{ ASSET_PATH }}/images/lfescreen.png" class="lfescreen" alt="LFE Screen">
      <div class="intro-group">
        <h1>
          The LFEX .plan File<br>
          It's what's going on
        </h1>
        <p class="intro">A .plan file for the extended LFE community<br/>
        so that we all have a better idea of who's working on what</p>
        <a href="https://github.com/lfex/plan" class="button">Add your .plan!</a>
      </div>
    </div>

    <div class="wrapper">
      <div class="container">
        <div class="content">
          {% for planner in site.DotPlan.planners %}
          <div class="row">
            <div class="span12">
              <div class="row">
                <div class="span5">
                  {% plan plans/{{ planner }}.plan.md %}
                </div>
              </div>
              <hr>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> <!-- /container -->
    </div>
